html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik',Arial,Helvetica,sans-serif;
    color: #191919;
    
}
.container{
    max-width: 100%;
    padding-left: 4%;
    padding-right: 4%;
}
a{
    text-decoration: none;
    transition: .15s ease-in-out;
}
a:hover{
    color:#0068e1;
}
li{
    list-style: none;
}
.c-header-top ul{
    margin: 0;
}
.c-header-top h6,p,select{
    color: #191919 !important;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
}
.c-header-top i{
    color: #0068e1;
    font-weight: 800;
    font-size: 1.3rem;
}
.logo h1{
    color: #6E6E6E;
    font-weight: 400;
    font-size: 3rem;
}
.nav-search-area input,select{
    border: none;
    outline: none;
    font-size:1.4rem ;
}
.nav-search-area i{
    font-size: 1.5rem;
}
.favorites i{
    font-size: 3rem;
    color: #191919;
}
.favorites span{
    top: 8px;
    padding: 5px;
}
.favorites p{
    margin: 0;
}
.most-search{
    font-size: 1.4rem;
}
.most-search a{
    color: #a6a6a6;
}


























    /* Resposive Device */


@media (max-width:1199px){

}

@media (max-width:991px){

}

@media (max-width:767px){
    html{
        font-size: 50%;
    }
}

@media (max-width:575px){

}