html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik',Arial,Helvetica,sans-serif;
    color: #191919;
    font-size: 1.5rem;
}
.container{
    max-width: 100%;
    padding-left: 4%;
    padding-right: 4%;
}
/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(51, 53, 136); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #377892; 
  }
a{
    text-decoration: none;
    transition: .15s ease-in-out;
}
a:hover{
    color:#0068e1;
}
li{
    list-style: none;
}
.c-header-top ul{
    margin: 0;
}
.c-header-top h6, .c-header-top p, .c-header-top select{
    color: #191919 !important;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
}
.c-header-top i{
    color: #0068e1;
    font-weight: 800;
    font-size: 1.3rem;
}
.c-header-top a p:hover {
    color: #007bff !important;
}
.logo h1{
    color: #6E6E6E;
    font-weight: 400;
    font-size: 3.4rem;
}
.nav-search-area input,select{
    border: none;
    outline: none;
    font-size:1.4rem ;
}
.nav-search-area i{
    font-size: 1.5rem;
}
.favorites i{
    font-size: 3rem;
    color: #191919;
}
.favorites span{
    top: 0.8rem;
    padding: 0.5rem;
}
.favorites p{
    margin: 0;
    color: #191919;
}
.favorites a p:hover ,.favorites a i:hover{
    color: #007bff;
}
.most-search{
    font-size: 1.4rem;
}
.most-search a{
    color: #a6a6a6;
}
.nav-categories h2{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.4rem;
}
.nav-categories i{
    font-size: 1.6rem;
}
.nav-items a{
    color: #191919;
}
.nav-items a:hover{
    color:#0068e1;
    font-weight: 500;
}
.nav-items p{
    color: #ffb136;
}
.nav-area{
    padding-top:4rem ;
}
.nav-area .offcanvas{
    width: 280px !important;
}
.offcanvas-color {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 400;
}
.offcanvas-icon i{
    font-size: 3.5rem;
}
.most-search a:hover{
    color: #007bff;
}
.categories-list button , .categories-list a{
    font-size: 1.5rem;
    color: #191919;
}
.categories-list li:hover {
    background-color: #CFE2FF;
}
.categories-list li:hover .categories-list  a{
    color: #007bff !important;
}
.categories-list ul{
    padding: 0;
}
.categories-list .accordion-body{
    padding: 0;
}
.c-accordion ul li{
    padding: 1rem 2rem;
    cursor: pointer;
}
#Accordion-Main button{
    background-color: transparent !important;
    box-shadow: none;
}
#Accordion-Main button:hover{
    background-color: #CFE2FF !important;
}
#Accordion-Main .accordion-item{
    border: none !important;
}
#Accordion-Main li{
    border-bottom: 1px solid #eeeded;
}
.categories-carousel .caro-item-bg-1{
    background-image: url(../img/Carousel-Bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.caro-item-bg {
    width: 100%;
    height: 58rem;
}
.caro-item-bg h1{
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 4.8rem;
    color: #191919;
}
.caro-item-bg h1 span{
    font-weight: 500;
    animation-delay: 0.1s;
}
.caro-item-bg p{
    animation-delay: 0.3s;
}
.caro-item-bg button{
    animation-delay: 0.7s;
    font-weight: 500;
    font-size: 1.6rem;
}
.caro-item-bg .d-flex{
    width: 100%; 
    height:78rem ;
    max-height: 100%;
    padding-left: 10rem;
}
.categories-carousel .caro-item-bg-2{
    background-image: url(../img/Carousel-Bg-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 10rem !important;
}
.categories-carousel .caro-item-bg-3{
    background-image: url(../img/Carousel-Bg-3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: #0068e1 !important;
    transition: .2s ease-in-out;
}
.carousel-indicators .active{
    width:30px !important ;
    border-top-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}
.carousel-control-next, .carousel-control-prev{
    width: 3% ;
    opacity: 0.2;
    justify-content: start;
}
.carousel-control-next{
    justify-content: end !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #0068e1;
    width: 2rem ;
    height: 5rem ;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}
.categories-carousel .carousel-control-next:hover, .carousel-control-prev:hover{
    opacity: 1;
}
.bg-discound-common {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: 0.8s;
}
.section-2 .discound-bg-1{
    background-image: url(../img/Bag-Pack-1.png);
}
.section-2 .discound-bg-2{
    background-image: url(../img/Phone-bg-1.png);
}
.section-2 .discound h4{
    font-size: 2rem;
    font-weight: 400;
}
.section-2 .discound h2{
    font-size: 3rem;
    font-weight: 400;
}
.section-2 .discound button{
    color: #fff;
    font-size: 1.6rem;
}
.section-2 .discound{
    width: 100%;
    height: 27.5rem;
    overflow: hidden;
}
.section-2 .discound:hover .bg-discound-common{
    transform: scale(1.1);
}
.section-3{
    padding: 5rem 0 4rem 0;
}
.section-3 .seavice{
    padding: 0 5rem;
}
.section-3 .seavice i{
    font-size: 3rem;
    color: #0068e1;
}
.section-3 .seavice h6{
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.section-3 .seavice p{
    font-size:1.4rem ;
    line-height: 2.2rem;
    color: #6e6e6e;
}
.section-4 .Top-categories h2{
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 3.6rem;
}
.section-4 .Top-categories p{
    font-weight: 300;
    line-height: 2.4rem;
    color: #6e6e6e;
}
.section-4 .categories-collapse-button{
    border: 1px solid #dbd7d7;
    padding: 2rem 4rem;
    width:90% !important ;
    height: 18rem;
}
.section-4 .categories-collapse-button:hover{
    border-color: #0068e1;
}
.section-4 .categories-collapse-button img{
    width: 100%;
    height:80%;
}
.section-4 .categories-collapse-button p{
    font-size: 1.5rem;
}
.sct-4-categories .card-body{
    padding: 0 !important;
    border: none !important;
}
.product-list .card{
    width: 100%;
    height: 35rem;
    cursor: pointer;
    transition: 0.3s;
    border-color:#ebebeb ;
}
.product-list .card img{
    width: 100%;
    height: 16rem;
    max-height: 100%;
}
.product-list .card-icon{
    opacity: 0;
    transition:all 0.5s;
}
.product-list .card .card-reviwes{
    transition:all 0.5s;
    display: block;
}
.product-list .card .card-button{
    display: none;
}
.product-list .card .card-price{
    position: relative;
    transition: all 0.5s;
}
.product-list .card .card-paragapes{
    transition: all 0.5s;
    max-height: 4rem;
    line-height: 2.1rem;
    display: -webkit-box;
    overflow: hidden;
}
.product-list .card .card-price::before{
    position: absolute;
    content: "";
    width: 7px;
    height: 15px;
    left:-17px ;
    top: 6px;
    background-color:#0068e1 ;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    z-index: 5;
}
.product-list .card .card-outoff-stock{
    position: absolute;
    top: 8px ;
    right: 16px;
    transition: 0.5s;
    display: block;
}
.product-list .card .card-outoff-stock p{
    padding: 0 1rem;
}
.product-list .card:hover .card-outoff-stock{
    display: none;
}
.product-list .card:hover .card-price{
    margin: 0 !important;
}
.product-list .card:hover{
    box-shadow: 2.5px 4.33px 50px 5px rgba(11,28,42,.15);
}
.product-list .card:hover .card-button{
    display: block;
}
.product-list .card:hover .card-reviwes{
    display: none !important;
}
.product-list .card:hover .card-icon{
    opacity: 1 !important;
}
.categories-accordions .accordion-button::after{
    width: 0 !important;
    height: 0 !important;
}
.categories-accordions .accordion-button:not(.collapsed){
    background-color: transparent !important;
    border: 1px solid #0068e1;
}
#Categories-active .accordion-button:focus{
    box-shadow: none;
}
.categories-accordions .accordion-item{
    border: none !important;
}
.section-5{
    background-image: url(../img/Section-5-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-5 .comfort-chair{
    background-image: url(../img/Chiar-bg.png);
}
.section-5 .top-product-img-zoom{
    width: 100%;
    height: 22rem;
    overflow: hidden;
}
.sct-5-img-zoom{
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 0.8s;
}
.sct-5-padding{
    padding: 7rem 0;
}
.section-5 .top-product-img-zoom:hover .sct-5-img-zoom{
    transform: scale(1.08);
}
.section-5 .bedroom-products{
    background-image: url(../img/big-bg-1.png);
    padding-left: 8rem;
}
.section-5 .galaxy-zoom{
    background-image: url(../img/Mobail-bg-5.png);
}
#featured-button .accordion-button::after{
    background: transparent;
}
#featured-button .accordion-button:not(.collapsed){
    color: #0068e1 !important;
    background-color: transparent !important;
    font-weight: 500 !important;
    transition: 0.5s;
    position: relative;
}
#featured-button .accordion-button:not(.collapsed)::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #0068e1;
    bottom: 0;
    left: 5px;
}
#featured-button .accordion-button:not(.collapsed)::before{
    position: absolute;
    content: "";
    bottom: -7px;
    left: 35px;
    height: 8px;
    width: 15px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #0068e1;
    z-index: 1;
}
#featured-button .accordion-button:focus{
    box-shadow: none;
    border: none;
}
#accordion-featured .accordion-item{
    border: none;
}
#featured-button .accordion-button{
    transition: 0.5s;
}
#featured-caro-button .carousel-control-prev{
    width: 10% !important;
    position: inherit !important;
    opacity: 1;
}
#featured-caro-button .carousel-control-next{
    width: 10% !important;
    position: inherit !important;
    opacity: 1;
}
#featured-caro-button{
    gap: 9rem;
}
#section-7-carousel .carousel-control-prev{
    justify-content: center !important;
}
#section-7-carousel .carousel-control-next{
    justify-content: center !important;
}
#brand-section img{
    width: 100%;
    transition: 0.5s;
}
#brand-section img:hover{
    transform: scale(1.1);
}
#brand-section .brand-item{
    padding: 3rem;
}
.section-8 .carousel-control-prev{
    position: initial;
    width: 50% !important;
    opacity: 0.6;
}
.section-8 .carousel-control-next{
    position: initial;
    opacity: 0.6;
    width: 50% !important;
}
.section-8 .section-title{
    position: relative;
}
.section-8 .section-title::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #0068e1;
    bottom: 0;
}
.product-sub img{
    width: 4rem;
}
.product-sub h6{
    max-height: 40px;
    overflow: hidden;
}
.product-sub h6:hover{
    color: #0068e1 !important;
}
.sct-9-img{
    width: 100%;
    overflow: hidden;
}
.sct-9-img img{
    width: 100%;
    transition: 0.8s;
}
.sct-9-img img:hover{
    transform: scale(1.08);
}
#accordion-all-product .accordion-item{
    border: none !important;
}
#carousel-mobiles .product-list .card img{
    padding: 0 5rem !important;
}





    /* Resposive Device */



@media (max-width:1400px){
    .product-list .col-xl-2{
        padding-left: 0 !important;
    }
}



@media (max-width:1199px){
    .product-list .col-xl-2{
        padding-left: 1rem !important;
    }
    #brand-section .brand-item{
        padding: 1.5rem;
    }
}

@media (max-width:991px){
    .border-md-bottom{
        border-bottom: 1px solid #e1e1e1 ;
    }
    .nav-area{
        padding-top:3rem ;
    }
    html{
        font-size: 50%;
    }
    #brand-section .brand-item{
        padding: 2rem 1rem;
    }
}

@media (max-width:767px){
    
}

@media (max-width:575px){
    .categories-carousel .caro-item-bg-2{
        padding-right: 3rem !important;
        text-align: end;
    }
}